<!-- https://github.com/formio/formio.js-->
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://bootswatch.com/4/cosmo/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>

</head>

<body>
    <meta id="my-data" data-data="{{data}}">
    <div id='element' style="padding: 20px; height: 100%"></div>

    {% block body %}
    {% endblock %}

</body>

</html>