{% extends "base.html" %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"
  integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
  integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.11/jsoneditor.min.js"
  integrity="sha512-RL3kaj0W9BjXTR6ptyJgJ5U+mjMa/6U/s3VcnrIWqJsc6/O2U7Jk6pNl10tRHoM9//SBjWl9huHsM6jjGv8sFg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.11/jsoneditor.min.css"
  integrity="sha512-nnOk6g+Ad1MdoerOautiVacB6N+rKYkPO0YGCSq/Mgrb45RXtPC7xEK+R+lyWA1GRBbnLBc71npsBTrF5rBEpw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="row" style="padding: 20px;">
  <div class="col-7">
    <div id='form-builder'></div>
  </div>
  <div class="col-3">
    <p class="lead" id="survey-languages-desc">Languages</p>
    <select class="selectpicker" id="languages-multi" multiple style="width: 100%" data-live-search="true"></select>
    <hr />
    <div id="jsoneditor" style="width: 100%;"></div>
    <button type="button" id="save-translations-button" class="btn btn-primary btn-block"
      onclick="saveTranslations();">Save</button>

  </div>
  <div class="col-2">

    <form name="submitform">
      <p class="lead" id="survey-name-desc">Name</p>
      <input required type="text" class="form-control mb-3" id="survey-name" aria-describedby="survey-name-desc">
      <p class="lead" id="survey-name-desc">Default language</p>
      <select class="selectpicker mb-3" id="default-language-selector" style="width: 100%"></select>

      <button type="button" id="preview-button" class="btn btn-success btn-block" disabled>Preview</button>
      <button type="submit" id="save-button" class="btn btn-primary btn-block">Save</button>
      <button type="button" id="clear-button" class="btn btn-secondary btn-block">Clear</button>
    </form>
  </div>
</div>

<script src="{{BASE_PATH}}/static/instantiator.js"></script>

{% endblock %}