<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title><meta name="viewport" content="width=device-width"/>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios@1.0.0/dist/axios.min.js"></script>
        <script src="https://unpkg.com/survey-jquery@1.9.6/survey.jquery.min.js"></script>
        <link href="https://unpkg.com/survey-core@1.9.6/modern.min.css" type="text/css" rel="stylesheet"/>
        <meta id="data" data-domain="{{DOMAIN_INFO}}" data-basepath="{{BASE_PATH}}" data-dataFromBackend="{{DATA}}">
        <body>
        <div id="surveyElement" style="display:inline-block;width:100%;"></div>
        <script type="text/javascript">
            var { domain, basepath, datafrombackend } = jQuery('#data').data();
            const origin = domain.PROTOCOL + domain.SERVER_NAME
            console.log(origin, datafrombackend, basepath)

            Survey
                .StylesManager
                .applyTheme("modern");
    
            window.survey = new Survey.Model(datafrombackend);
            
            var http = axios.create({
            headers: {
                "Content-type": "application/json",
                baseURL: basepath,
            }
        });

        const inIframe = window.location !== window.parent.location
        const hasOpener = window.opener && !window.opener.closed

        const sendMessage = (code, data, callback, callbackIframe, callbackOpener) => {
            if (inIframe) {
                window.parent.postMessage({
                    'code': code,
                    'message': data
                }, '*');
                callbackIframe && callbackIframe()
            } else if (hasOpener) {
                window.opener.postMessage({
                    'code': code,
                    'message': data
                }, '*');
                callbackOpener && callbackOpener()
            }else{
            callback && callback()
            }
        }

            survey
                .onComplete
                .add(function (sender) {
                    console.log(sender.data)
                    http.post(`${basepath}/api/v1/assets/${datafrombackend._id}/answers`, sender.data).then(res => {
                    console.log(res.data);

                    dataToSend=res.data;
                    sendMessage("asset_completed", dataToSend, null, null, null);

                });
                });
                
            $("#surveyElement").Survey({model: survey});
        </script>
    </body>
</html>
