<!DOCTYPE html>
<html lang="en">

<head>
    <title>NPS survey with follow-up questions, Survey Creator Example</title>
    <meta name="viewport" content="width=device-width" />
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/knockout@3.5.1/build/output/knockout-latest.js"></script>
    <script src="https://unpkg.com/survey-core@1.9.6/survey.core.min.js"></script>
    <script src="https://unpkg.com/survey-knockout-ui@1.9.6/survey-knockout-ui.min.js"></script>
    <link href="https://unpkg.com/survey-core@1.9.6/defaultV2.min.css" type="text/css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.10/ace.min.js" type="text/javascript"
        charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.10/ext-language_tools.js" type="text/javascript"
        charset="utf-8"></script>
    <!-- Uncomment to enable Select2 <script src="https://unpkg.com/jquery"></script> <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
    <script src="https://unpkg.com/survey-creator-knockout@1.9.6-beta.1/survey-creator-knockout.min.js"></script>
    <link href="https://unpkg.com/survey-creator-knockout@1.9.6-beta.1/survey-creator-knockout.min.css" type="text/css"
        rel="stylesheet" />
    <meta id="data" data-basepath="{{BASE_PATH}}" data-dataFromBackend="{{data}}">
</head>

<body>
    <div id="surveyContainer">
        <div id="creatorElement" style="height: 100vh;"></div>
    </div>
    <script type="text/javascript">
        var { basepath, datafrombackend } = $('#data').data();
        var http = axios.create({
            headers: {
                "Content-type": "application/json",
                baseURL: basepath,
            }
        });
        let options = {
            // showTestSurveyTab: false,
            showJSONEditorTab: true,
            showLogicTab: true,
            showTranslationTab: true,
            //showEmbeddedSurveyTab: true,
        };
        var creator = new SurveyCreator.SurveyCreator(options);
        creator.haveCommercialLicense = true
        creator.render("creatorElement");
        

        if (datafrombackend) {
            creator.JSON = datafrombackend
        }

        creator.saveSurveyFunc = function (saveNo, callback) {
            console.log(creator.text)
            if (datafrombackend) {
                // Update
                http.put(`${basepath}/api/v1/assets/${datafrombackend._id}`, creator.text).then(res => {
                    console.log(res.data)
                    if (window.parent) {
                        window.parent.postMessage({
                        'code': 'asset_updated',
                        'data': res.data
                        }, "*");
                    }
                    callback(saveNo, true);
                }).catch(err => callback(saveNo, false));
            } else {
                http.post(`${basepath}/api/v1/assets/`, creator.text).then(res => {
                    console.log(res.data)
                    if (window.parent) {
                        window.parent.postMessage({
                        'code': 'asset_created',
                        'data': res.data
                        }, "*");
                    }
                    callback(saveNo, true);
                }).catch(err => callback(saveNo, false));
            }
        }

        if (window.parent) {
            window.parent.postMessage({
                'code': 'initialized',
            }, "*");
        }
    </script>
</body>

</html>