<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title><meta name="viewport" content="width=device-width"/>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/survey-jquery@1.9.6/survey.jquery.min.js"></script>
        <link href="https://unpkg.com/survey-core@1.9.6/modern.min.css" type="text/css" rel="stylesheet"/>
        <meta id="data" data-domain="{{DOMAIN_INFO}}" data-basepath="{{BASE_PATH}}" data-dataFromBackend="{{DATA}}">
        <body>
        <div id="surveyElement" style="display:inline-block;width:100%;"></div>
        <script type="text/javascript">
            var { domain, basepath, datafrombackend } = jQuery('#data').data();
            const origin = domain.PROTOCOL + domain.SERVER_NAME
            console.log(origin, datafrombackend, basepath)
            
            Survey
                .StylesManager
                .applyTheme("modern");
    
            window.survey = new Survey.Model(datafrombackend);
    
            survey
                .onComplete
                .add(function (sender) {
                    console.log(sender.data)
                });
    
            $("#surveyElement").Survey({model: survey});
        </script>
    </body>
</html>